$gradient-color: linear-gradient(250.39deg, #0F1958 5.47%, #0C154D 95.51%);;
$primary-color: #0f1958;
$secondary-color: #F24947;
$heading-color: #25335C;
$text-color: #433434;
$white-color: #fff;
$black-color: #000;
$secondary-font: 'Poppins',sans-serif;